html{
    --color-verde: #849c3c;
    --color-negro: #353535;
    --color-rojo: #d33040;
    --color-gris: lightgray;
    --fondo-negro: #2c2c2c;
    --color-linea: #949494;
    --color-blanco: white;
    --color-azul: lightblue;
}
body{
    font-size: 16px; /*1em*/
    margin: 0px auto; /*centrado*/
    max-width: 1024px;
}
footer article{
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    vertical-align: top;
    width: 31.1%;
}
footer img{
    width: 300px;
}
header ul{
    margin-left: -25px;
}
header ul li{
    display: inline-block;
    margin-left: -4px;
    padding: 8px 14px;
    text-align: center;
    width: 17.0%;
}
section article ul{
    list-style: none;
}
header ul li:nth-child(2){
    background-color: var(--color-verde);
}
header ul li:nth-child(3){
    background-color: var(--color-negro);
}
header ul li:nth-child(4){
    background-color: var(--color-rojo);
}
header ul li:nth-child(5){
    background-color: var(--color-gris);
}
hr{
    border-style: dashed;
    color: var(--color-linea);
}
section article{
    display: inline-block;
    height: 280px;
    padding: 18px 8px;
    vertical-align: top;
    width: 17.9%;
}
section article:nth-child(2){
    background-color: var(--color-verde);
}
section article:nth-child(3){
    background-color: var(--color-negro);
}
section article:nth-child(4){
    background-color: var(--color-rojo);
}
section article:nth-child(5){
    background-color: var(--color-gris);
}
section,footer{
    background-color: var(--fondo-negro);
}
section img{
    width: 150px;
}
.letraazul{
    color: var(--color-azul);
}
.letrablanca{
    color: var(--color-blanco);
}
.letragris{
    color: var(--color-linea);
}
.readmore{
    margin-left: 220px;
}
.tammenulateral{
    font-size: 1.1em;
}
.tamtarjetas{
    font-size: 1.7em;
}