body{   
    border: 1px solid red;
    font-size: 16px; /*1em*/
    margin: 0px auto;
    max-width: 1024px;
}
header{
    background-color: #D1E3EE;
}
header nav{
    background: #026DC6;
    width: 99%;
    border-radius: 5px;
    margin: 0px auto;
    padding: 2px 0px;
    margin-top: -20px;
}
header nav form{
    float: right;
    margin-top: -35px;
    margin-right: 10px;
}
header nav form input{
    border-radius: 5px;
}
header nav form input[type="submit"]{
    background: green;
    border: 1px solid green;
    color: white;
}
header nav ul li{
    /*border: 1px solid red;*/
    color: white;
    display: inline-block;
    margin-right: 20px;
}


#logo{  /*id="logo" */
    margin: -150px 0px 25px 30px;
}
#seccion01{
    margin-top: 15px;
}
#seccion01 article{
    text-align: center;
}
#seccion01 article img{
    width: 98%;
    border: 5px solid rgba(150, 150, 150, 0.5);
}
#seccion02 article{
    width: 32.8%;
    display: inline-block;
    vertical-align: top;
}
#seccion02 article input[type="submit"]{  
    color: rgb(54, 130, 235);
    background-color: white;
    border-radius: 5px;
    margin-left: 35%;
}
.nito{
    font-weight: bold;
}
.unaSeccion{
    font-size: 4.5em;
}
.otraSeccion{
    font-size: 2.5em;
}