body{
    font-size: 16px; /*1em*/
    margin: 0px auto; /*centrado*/
    background-color: rgb(230 221 222);
    max-width: 1024px;
}
header{
    text-align: center;
    margin-top: 50px;
}
header hr{
    margin-top: 30px;
}
nav ul li{
    display: inline-block;
    color: rgb(97, 75, 79);
    margin-right: 30px;
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 20px;
}
.Nombre{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
}
.abajologo{
    color: rgb(141 119 123);
    font-size: 23px;
}

.secc01{
    
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}
#secc02 article{
    width: 40.8%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: 8px solid white;
    margin-left: 70px;
}
#art01{
    background-color: rgb(82 45 39);
    color: white;
}
#art02{
   background-color:  rgb(223 217 232);
}
.titulo1{
    font-size: 40px;
}
.titulo2{
    font-size: 50px;
    color: rgb(253 84 46);

}
#secc03 article{
    width: 40.8%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-left: 70px;
    margin-bottom: 30px;
}